<div
  class="user-menu__nvai"
  style="
    margin: 12px 16px;
    background: #f5f5f5;
    border-radius: 14px;
    border-right: 7px solid #3483fb;
  "
>
  <div
    style="
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.86rem 1.2rem;
    "
  >
    <img
      src="https://i.ibb.co/K7Lc6cr/metrify.png"
      alt=""
      class="user-menu__coins-icon-title"
      style="margin-right: 11px; align-self: center; width: 1.5rem"
    />
    <div
      style="
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      "
    >
      <div style="display: flex">
        <span
          class="user-menu__nvai-title"
          style="
            font-size: 14px;
            color: #1a1a1a;
            margin: 0;
            font-weight: 600;
            line-height: 18px;
          "
          >Metrify</span
        >
        <span
          class="user-menu__nvai-title"
          style="
            font-size: 12px;
            letter-spacing: 0.05rem;
            color: #1a1a1a75;
            margin: 0;
            font-weight: 200;
            margin: 0rem 0.75rem;
          "
          >1.2.8</span
        >
      </div>
      <span
        class="user-menu__user-badge-email__chevron user-menu__coins-title__chevron"
        style="
          color: #3483fb;
          transform: rotate(135deg);
          position: relative;
          right: 0;
          transition: all 0.195s;
          top: -4px;
          cursor: pointer;
        "
      ></span>
    </div>
  </div>
  <div class="user-menu__coins-container-list">
    <ul>
      <li key="BRL">
        <span class="user-menu__shortcuts-separator"></span>
        <div class="user-menu__coins-main-item">
          <img
            src="https://http2.mlstatic.com/frontend-assets/asset-mgmt-crypto-frontend/MONEY.svg"
            alt=""
            class="user-menu__coins-icon-item"
          />
          <span class="user-menu__coins-item">
            <span class="user-menu__coins-item-container-title">
              <span class="user-menu__coins-title user-menu__coins-title-weight"
                >Saldo em conta</span
              >
              <span class="hide-visually">0 reales con 00 centavos</span>
              <span
                class="user-menu__coins-title user-menu__coins-title-weight"
                aria-hidden="true"
              >
                <span>R$ 0</span>
                <span class="user-menu__coins-super-index">00</span>
              </span>
            </span>
          </span>
        </div>
      </li>
      <li key="MCN">
        <span
          class="user-menu__shortcuts-separator user-menu__shortcuts-separator-coin"
        ></span>
        <div
          class="user-menu__coins-main-item user-menu__coins-main-item-padding"
        >
          <img
            src="https://http2.mlstatic.com/frontend-assets/asset-mgmt-crypto-frontend/MCN.svg"
            alt=""
            class="user-menu__coins-icon-item"
          />
          <span class="user-menu__coins-item">
            <span class="user-menu__coins-item-container-title">
              <span class="user-menu__coins-title user-menu__coins-title-weight"
                >Mercado Coin</span
              >
              <span class="hide-visually">0 reales con 00 centavos</span>
              <span
                class="user-menu__coins-title user-menu__coins-title-weight"
                aria-hidden="true"
              >
                <span>R$ 0</span>
                <span class="user-menu__coins-super-index">00</span>
              </span>
            </span>
            <span class="user-menu__coins-container-item-info">
              <span class="hide-visually"
                >1 Mercado Coin equivale a 0,48 reales</span
              >
              <span class="hide-visually"
                >Seu valor é o mesmo em relação a ontem</span
              >
              <span class="user-menu__coins-subtitle" aria-hidden="true">
                <span>MCN 1 = R$ 0,48</span>
                <span
                  class="user-menu__coins-percentage user-menu__coins-percentage-green"
                  >+ 0,00%</span
                >
              </span>
            </span>
          </span>
        </div>
        <a
          id="user-menu__coins-mp"
          href="https://www.mercadolivre.com.br/mercadocoin"
          class="user-menu__coins-main-link user-menu__coins-link-label user-menu__coins-main-cursor"
        >
          Conhecer o Mercado Coin
        </a>
      </li>
    </ul>
  </div>
</div>
