<style>
  @import url("https://fonts.cdnfonts.com/css/montserrat");
</style>

<div
  id="price-tool"
  style="
    position: relative;
    top: -1.35em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 11px -7px,
      rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
    border: 0px !important;
    overflow: hidden;
  "
  class="ui-pdp-buybox smooth ui-pdp-container__row ui-pdp-component-list pr-16 pl-16 alinharvertical"
>
  <div
    id="etapa2"
    class="smooth hdn transp"
    style="width: inherit; float: left; transform: translate(-10px, 0px)"
  >
    <div style="text-align: right; padding-left: 1.85em; width: 45%">
      O valor <b>sugerido</b> para publicar seu anúncio é de:
    </div>
    <h1
      class="price-tag price-tag-fraction"
      style="width: 53%; overflow: hidden; float: right; margin-top: -1.5em"
    >
      <span style="margin-right: 0.15em"
        ><img
          src="https://ci3.googleusercontent.com/proxy/kgbUUHgOg_Wtd56AXKaaRk0M4A-EQe-kjbq9Cr4as2SUCOfQIjNrN6zcNl1wWyUslua9x1khV2gtnzRhC4xLj6fKrzNwgEblwySpi5Jn0YwOcJnJausP9aoTC0Sc81rJQMLdJEWgJO0kfywjk97OD9sFrum7D_GDtT4OxdcKLplxbn643Xo=s0-d-e1-ft#https://http2.mlstatic.com/resources/frontend/statics/buyingflow-frontend-emails/1.15.0/images/payments/payment.png"
          height="16"
          width="20"
          style="margin-top: 0.2em; opacity: 35%"
        />R$</span
      ><span id="valor_sugerido_reais">00</span
      ><span
        id="valor_sugerido_centavos"
        style="font-size: 0.5em; font-weight: 100"
        >,00</span
      >
    </h1>
    <p
      style="float: right; margin: -1.35em 3.75em 0em 0em; font-size: 11px"
      class="ui-pdp-review__amount"
    >
      *Sugestão com alíquota..
    </p>
    <div class="detalhamento" id="detalhamento">
      <ul class="ui-pdp-review__amount">
        <li>
          Seu custo:
          <img
            alt="icon"
            src="https://ci3.googleusercontent.com/proxy/kgbUUHgOg_Wtd56AXKaaRk0M4A-EQe-kjbq9Cr4as2SUCOfQIjNrN6zcNl1wWyUslua9x1khV2gtnzRhC4xLj6fKrzNwgEblwySpi5Jn0YwOcJnJausP9aoTC0Sc81rJQMLdJEWgJO0kfywjk97OD9sFrum7D_GDtT4OxdcKLplxbn643Xo=s0-d-e1-ft#https://http2.mlstatic.com/resources/frontend/statics/buyingflow-frontend-emails/1.15.0/images/payments/payment.png"
            height="11"
            style="padding: 0em 0.5em 0em 0em"
          /><span class="ui-pdp-price" id="detalhe-custo">R$&nbsp; 0,00</span>
        </li>
        <li>
          Impostos:<img
            alt="icon"
            src="https://ci3.googleusercontent.com/proxy/kgbUUHgOg_Wtd56AXKaaRk0M4A-EQe-kjbq9Cr4as2SUCOfQIjNrN6zcNl1wWyUslua9x1khV2gtnzRhC4xLj6fKrzNwgEblwySpi5Jn0YwOcJnJausP9aoTC0Sc81rJQMLdJEWgJO0kfywjk97OD9sFrum7D_GDtT4OxdcKLplxbn643Xo=s0-d-e1-ft#https://http2.mlstatic.com/resources/frontend/statics/buyingflow-frontend-emails/1.15.0/images/payments/payment.png"
            height="11"
            style="padding: 0em 0.5em 0em 0.61em"
          /><span class="ui-pdp-price" id="detalhe-imposto">R$&nbsp;0</span>
        </li>
        <li style="transform: translate(4px, 0px)">
          Seu lucro:
          <img
            alt="icon"
            src="https://ci5.googleusercontent.com/proxy/t9hOuXHFrNPYlckwjpVbXLSlkxMtwzLYCTIi7PchhDo9m0lT7QD15EK5HN7R_R-xZrKcTgNktsim1qXR1LlKrEKQNa030zOY_S-rBf1-Eds9chp_rizwkWlvcacgOpH-Hj7BTbJJ-tG97e7u8JhDtjRMp8DP9Bwv9jtS-VYIrGWn=s0-d-e1-ft#https://http2.mlstatic.com/resources/frontend/statics/buyingflow-frontend-emails/1.15.0/images/common/back.png"
            height="11"
            style="padding: 0em 0.2em; padding-right: 0.45em"
          /><span class="ui-pdp-price" id="detalhe-lucro">R$&nbsp; 0,00</span>
        </li>
        <li style="transform: translate(-7px, 0px)">
          Taxa do ML:<img
            alt="icon"
            src="https://ci3.googleusercontent.com/proxy/ZG5FLXGDXbk602QJeqgzhTwuKjwnGLhuBMgUeetEB1qxNi8LEnUTmvci9Se0YjumB0a2DrA-uf1Xeb52hj41rmg9hKW-Sh2tH4xqoGR5cn6k-r_deVRoI31lrjw84JyS22rnTXvilfhHu7q_Lj6l-ZeR_MT9MvmskNkjUaKqu-bI9f9CypObTG-9JnJyZA=s0-d-e1-ft#https://http2.mlstatic.com/resources/frontend/statics/buyingflow-frontend-emails/1.15.0/images/shipping/shipping-office.png"
            height="11"
            style="padding-right: 0.2em; padding-left: 0.15em"
          />
          <span class="ui-pdp-price" id="detalhe-taxa">R$&nbsp; 0,00</span>
        </li>
        <li style="transform: translate(9px, 0px)">
          Taxa Fixa:<img
            alt="icon"
            src="https://ci3.googleusercontent.com/proxy/ZG5FLXGDXbk602QJeqgzhTwuKjwnGLhuBMgUeetEB1qxNi8LEnUTmvci9Se0YjumB0a2DrA-uf1Xeb52hj41rmg9hKW-Sh2tH4xqoGR5cn6k-r_deVRoI31lrjw84JyS22rnTXvilfhHu7q_Lj6l-ZeR_MT9MvmskNkjUaKqu-bI9f9CypObTG-9JnJyZA=s0-d-e1-ft#https://http2.mlstatic.com/resources/frontend/statics/buyingflow-frontend-emails/1.15.0/images/shipping/shipping-office.png"
            height="11"
            style="padding-right: 0.2em"
          />
          <span class="ui-pdp-price" id="detalhe-taxafixa">R$&nbsp; 0,00</span>
        </li>
        <li style="transform: translate(30px, 0px)">
          Envio:
          <img
            alt="icon"
            src="https://ci3.googleusercontent.com/proxy/4AHE0GSzeLFc0tuceXt2Hib-rWVbcK8yqriCrBnrQFdt3LpCrH-NA3nyDKu-IO-65xO2yjlS7rsjGiJWV6QunadzFZlJPWqeb2Shj_fYgwagdLoTOAljMen83VI1eloEUOdeZcR4Su7DrJRWooeRNOF5nZ2fJv2BE06zEE2uKHkiVrr1vOvtY78kR28=s0-d-e1-ft#https://http2.mlstatic.com/resources/frontend/statics/buyingflow-frontend-emails/1.15.0/images/shipping/shipping-mail.png"
            height="11"
            style="padding-right: 0.3em; transform: translate(-2px, 0px)"
          /><span class="ui-pdp-price" id="detalhe-envio">R$&nbsp; 0,00</span>
        </li>
      </ul>
    </div>
    <a id="vermais" style="float: right; margin: 1em 7em 0em 0em"
      >Ver mais detalhes</a
    >
    <p
      id="eareset"
      style="
        float: right;
        margin: 1em 8.35em 0em 0em;
        font-weight: 900;
        color: #aeaeae;
        font-size: 0.77em;
        text-align: center;
      "
    >
      Problemas no cálculo?<br />Aperte Ctrl+Shift+R
    </p>
    <br />
    <a
      id="refazer"
      style="
        padding: 1em;
        border-radius: 0.7em;
        float: right;
        margin: 1em 5.5em 0em 0em;
      "
      class="andes-button--quiet"
      >↻ Refazer simulação</a
    >
  </div>

  <div
    id="etapa1"
    style="margin: auto; overflow: hidden; width: 100%; margin-top: -1em"
    class="smooth"
  >
    <div
      id="pricetool_header"
      style="
        height: 4em;
        margin-bottom: 1.5em;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        padding: 0em 1em;
      "
    >
      <img
        style="opacity: 0.21; width: 3.5rem; position: absolute; left: 0.21rem"
        src="https://i.ibb.co/FDxGScN/icon-gray.png"
        title="Metrify"
      />
      <h3
        style="
          float: left;
          font-size: 1.5rem;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          margin-left: 1rem;
        "
      >
        Precificador
      </h3>
      <div
        style="
          float: left;
          font-size: 11px;
          width: 3.5rem;
          height: 1.21rem;
          background: rgb(121, 51, 255);
          background: linear-gradient(
            90deg,
            rgba(121, 51, 255, 1) 0%,
            rgba(6, 189, 252, 1) 100%
          );
          color: white;
          border-radius: 1rem;
          margin: 0em 0em 0em 1em;
          font-weight: 500;
          display: flex;
          align-content: center;
          justify-content: center;
        "
      >
        novo
      </div>
    </div>

    <div id="pricetool_content" style="line-height: 1em; padding: 0em 1em">
      <div id="pricetool_loading" class="new-loader new-hdn">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player
          src="https://assets6.lottiefiles.com/packages/lf20_uwR49r.json"
          background="transparent"
          speed="1"
          style="width: 7rem; height: 7rem; margin: auto"
          loop
          autoplay
        ></lottie-player>
      </div>

      <div id="passo-02" class="new-hdn">
        <div
          class="pt_row"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 1rem;
          "
        >
          <span
            style="
              background: -webkit-linear-gradient(
                left,
                rgba(121, 51, 255, 1),
                rgba(6, 189, 252, 1)
              );
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font-size: 1.35rem;
              font-weight: 800;
              font-family: 'Montserrat', sans-serif;
            "
          >
            Seus Resultados:
          </span>
          <br />

          <div id="pt_highlight_result" style="width: 90%">
            <div
              style="
                width: 100%;
                border: 1px solid #00000011;
                border-radius: 4rem;
                font-size: 1.35rem;
                display: flex;
                justify-content: space-between;
                padding: 1em;
                font-family: 'Montserrat', sans-serif;
                margin: 0.21em 0em;
              "
            >
              <span style="font-weight: bold">Você recebe</span>
              <span id="pt_result_revenue" style="font-weight: 500"
                >R$0,00</span
              >
            </div>

            <div
              style="
                width: 100%;
                border: 1px solid #00000011;
                border-radius: 4rem;
                font-size: 1.35rem;
                display: flex;
                justify-content: space-between;
                padding: 1em;
                font-family: 'Montserrat', sans-serif;
                margin: 0.21em 0em;
              "
            >
              <span style="font-weight: bold">Lucro</span>
              <div>
                <img
                  id="profit_info"
                  src="https://img.icons8.com/ios-filled/50/000000/info.png"
                  style="margin-right: 0.1em; width: 1rem; opacity: 0.21; cursor: pointer"
                />
                <span id="pt_result_profit" style="font-weight: 500"
                  >R$0,00</span
                >
              </div>
            </div>

            <div
              style="
                width: 100%;
                border: 1px solid #00000011;
                border-radius: 4rem;
                font-size: 1.35rem;
                display: flex;
                justify-content: space-between;
                padding: 1em;
                font-family: 'Montserrat', sans-serif;
                margin: 0.21em 0em;
              "
            >
              <span style="font-weight: bold">Markup</span>
              <div>
                <img
                  id="markup_info"
                  src="https://img.icons8.com/ios-filled/50/000000/info.png"
                  style="margin-right: 0.1em; width: 1rem; opacity: 0.21; cursor: pointer"
                />
                <span id="pt_result_markup" style="font-weight: 500">0%</span>
              </div>
            </div>
          </div>
        </div>

        <div
          class="pt_row"
          style="
            width: 77%;
            margin: auto;
            margin-top: 1.35rem;
            margin-bottom: 2rem;
          "
        >
          <span
            style="
              font-size: 1.21rem;
              font-weight: bold;
              font-family: 'Montserrat', sans-serif;
            "
          >
            Custos de venda:
          </span>

          <div class="pt_row" class="andes-form-control">
            <div
              class="sub_row"
              style="
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 0.7rem;
                font-weight: bold;
                font-size: 1.21rem;
                padding: 0.14em 0em;
                border-bottom: 1px solid #00000021;
              "
            >
              <span>Tarifa:</span>
              <span id="pt_result_marketplacecut" style="font-weight: 500">R$0,00</span>
            </div>

            <div
              class="sub_row"
              style="
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 0.7rem;
                font-weight: bold;
                font-size: 1.21rem;
                padding: 0.14em 0em;
                border-bottom: 1px solid #00000021;
              "
            >
              <span>Impostos:</span>
              <span id="pt_result_tax" style="font-weight: 500">R$0,00</span>
            </div>

            <div
              class="sub_row"
              style="
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 0.7rem;
                font-weight: bold;
                font-size: 1.21rem;
                padding: 0.14em 0em;
                border-bottom: 1px solid #00000021;
              "
            >
              <span>Taxa Fixa:</span>
              <span id="pt_result_fee" style="font-weight: 500">R$0,00</span>
            </div>

            <div
              class="sub_row"
              style="
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 0.7rem;
                font-weight: bold;
                font-size: 1.21rem;
                padding: 0.14em 0em;
                border-bottom: 1px solid #00000021;
              "
            >
              <span>Custo:</span>
              <span id="pt_result_cost" style="font-weight: 500"
                >R$0,00</span
              >
            </div>

            <div
              class="sub_row"
              style="
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 0.7rem;
                font-weight: bold;
                font-size: 1.21rem;
                padding: 0.14em 0em;
                border-bottom: 1px solid #00000021;
              "
            >
              <span>Envio:</span>
              <span id="pt_result_shipping" style="font-weight: 500"
                >R$0,00</span
              >
            </div>

          </div>
        </div>

        <div
          id="pt_goback"
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 1.35rem;
            width: 90%;
            height: 2.5rem;
            border-radius: 4rem;
            padding: 1rem;
            margin: auto;
            margin-top: 0.1em;
            margin-bottom: 1rem;
            background: -webkit-linear-gradient(left, #3c73ff, #12b0fd);
            color: white;
            font-family: Montserrat, sans-serif;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 11px -7px,
              rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
          "
        >
          Voltar
        </div>
      </div>

      <div id="passo-01">
        <div class="pt_row">
          <span
            style="
              background: -webkit-linear-gradient(
                left,
                rgba(121, 51, 255, 1),
                rgba(6, 189, 252, 1)
              );
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font-size: 1.35rem;
              font-weight: 800;
              margin: 0.5em 0em 0em 0.5em;
              font-family: 'Montserrat', sans-serif;
            "
          >
            PAV
          </span>
          <br />
          <span style="margin: 0.5em 0em 0em 0.5em"
            >(Preço alvo de venda)
          </span>

          <div
            class="andes-form-control"
            style="padding: 0em 0.7em 0em 0em; font-weight: bold"
          >
            <input
              id="pav-input"
              type="number"
              placeholder="digite o valor"
              style="
                margin: 0.5em 0em 0.5em 0.35em;
                font-weight: 400;
                background-color: #80808000;
                border-radius: 0.25em;
                border: 2px solid #00000021;
                width: 100%;
                font-size: 1em;
                padding: 0.35em 0.35em 0.35em 2.1em;
                font-family: Proxima Nova, -apple-system, Helvetica Neue,
                  Helvetica, Roboto, Arial, sans-serif;
              "
            />
            <span style="position: absolute; top: 1.7rem; left: 1rem">R$:</span>
          </div>
        </div>

        <div
          class="pt_row"
          style="
            display: flex;
            justify-content: space-between;
            margin-top: 0.7rem;
            font-weight: bold;
          "
          class="andes-form-control"
        >
          <div id="pt_cost" style="flex: 1; padding: 0em 0.7em 0em 0.7em">
            <span
              style="
                font-size: 1.21rem;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
              "
            >
              Custo do produto:
            </span>
            <input
              id="custo"
              type="number"
              style="
                margin: 0.5em 0em 0.5em 0.35em;
                font-weight: bold;
                background-color: #80808000;
                border-radius: 0.25em;
                border: 2px solid #00000021;
                width: 100%;
                font-size: 1.1em;
                padding: 0.5em 0.35em 0.5em 2em;
              "
            />
            <span style="position: relative; top: -2.6rem; left: 1rem"
              >R$:</span
            >
          </div>

          <div id="pt_taxes" style="flex: 1; padding: 0em 0.7em 0em 0.7em">
            <span
              style="
                font-size: 1.21rem;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
              "
              >Sua alíquota de imposto</span
            ><input
              id="aliq"
              type="number"
              style="
                margin: 0.5em 0em 0.5em 0em;
                font-weight: bold;
                background-color: #80808000;
                border-radius: 0.25em;
                border: 2px solid #00000021;
                width: 100%;
                font-size: 1.1em;
                padding: 0.5em 0.35em 0.5em 0.75em;
              "
              value="0"
            />
            <span
              style="
                position: relative;
                top: -2.7rem;
                right: -7rem;
                font-size: 1.21rem;
              "
              >%</span
            >
          </div>
        </div>

        <div
          id="preco-ativar"
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 1.35rem;
            width: 90%;
            height: 4.5rem;
            border-radius: 7px;
            padding: 1rem;
            margin: auto;
            margin-top: 0.1em;
            margin-bottom: 1rem;
            background: -webkit-linear-gradient(left, #3c73ff, #12b0fd);
            color: white;
            font-family: Montserrat, sans-serif;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 11px -7px,
              rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
          "
        >
          Simular
        </div>

        <div id="alerta-form1" class="hdn" style="width: 90%; margin: auto">
          <img
            src="https://img.icons8.com/officexs/16/000000/spam.png"
            style="width: 0.77em"
          /><span style="color: red; font-size: 14px; vertical-align: top">
            Preencha os campos acima para simular.</span
          >
        </div>
      </div>

      <div style="display: none">
        <iframe id="quotation-iframe" src=""></iframe>
        <input type="checkbox" id="simular" style="margin-left: 0.5em" /><label
          for="simular"
          style="
            font-size: 0.7em;
            float: right;
            display: inline-block;
            max-width: 6em;
            position: relative;
            left: -0.7em;
            top: 1em;
          "
          value="false"
          >Simular com minha conta</label
        >
        <span style="margin: 0.5em 0em 0em 0.5em"
          >Margem de lucro desejada:
        </span>
        <div
          class="andes-form-control"
          style="padding: 0em 0em 0em 0em; font-weight: bold"
        >
          <input
            id="margem"
            type="number"
            class=""
            style="
              margin: 0.5em 0em 0.5em 0.35em;
              font-weight: bold;
              background-color: #80808000;
              border-radius: 0.35em;
              border: 1px solid #80808047;
              width: 7.7em;
              font-size: 1em;
              padding: 0.35em;
              width: 3.5em;
              font-family: Proxima Nova, -apple-system, Helvetica Neue,
                Helvetica, Roboto, Arial, sans-serif;
            "
          />
          % ou R$
          <input
            id="mrgbrl"
            type="number"
            class=""
            style="
              margin: 0.5em 0em 0.5em 0.35em;
              font-weight: bold;
              background-color: #80808000;
              border-radius: 0.35em;
              border: 1px solid #80808047;
              width: 7.7em;
              font-size: 1em;
              padding: 0.35em;
              width: 7em;
              font-family: Proxima Nova, -apple-system, Helvetica Neue,
                Helvetica, Roboto, Arial, sans-serif;
            "
          />
        </div>
      </div>
    </div>
  </div>
</div>
